@charset "utf-8";

@import "fonts";
$font-Graphik: 'Graphik';
$font-Graphik-Bold: 'Graphik-Bold';
$font-Graphik-Extralight: 'Graphik-Extralight';
$font-Graphik-Light: 'Graphik-Light';
$font-Graphik-Medium: 'Graphik-Medium';
$font-Graphik-Regular: 'Graphik-Regular';
$font-Graphik-Semibold: 'Graphik-Semibold';
$font-Graphik-Super: 'Graphik-Super';
$font-Graphik-Thin: 'Graphik-Thin';

$font-Amatic-SC: 'Amatic SC';

